body{
    background-color: black;
}

h1{
    color:aliceblue; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color:rgb(182, 194, 20); 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

p{
    color: azure;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagem{

    margin: 10px 100px 20px 430px;

}

a{
    color:burlywood;
}

.nota{
    border-width: 10px;
    border-color:rgb(182, 194, 20);
    border-style: solid;
    background-color: rgb(182, 194, 20);
    width: 30px;
    text-align: center;
    padding-right: 10px;
}